<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orion.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.orion.pojo.User">

    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        nick_name,email,phone,
        avatar,role,address,
        birthday,account,create_time,
        update_time,is_deleted,version
    </sql>
    <!--分页查询用户所有用户信息-->
    <select id="getPageUser" resultType="com.orion.pojo.User">
        select id, username, email, phone, avatar, role
        from fresh_system.user
        where is_deleted = false
        <if test="role != null and role != ''">
            and role = #{role}
        </if>
        <if test="search !=null and search != ''">
            and username like '%${search}%'
        </if>
        order by create_time desc
    </select>

    <!--获取已登录用户收货地址等信息-->
    <select id="selectBeforeUserInfo" resultType="map">
        SELECT
        u.id,
        u.username,
        u.role,
        u.nick_name    "nickName",
        u.account,
        u.avatar,
        u.birthday,
        u.email,
        u.phone,

        <!-- 地址表字段（关键修正） -->
        a.id           AS "addressID",
        a.name         AS "addressName",  <!-- 明确别名 -->
        a.phone        AS "addressPhone", <!-- 避免与用户表字段冲突 -->
        a.province,
        a.city,
        a.district,
        a.detailed_address AS "detailedAddress",
        a.create_time  AS "createTime",
        a.update_time  AS "updateTime"
        FROM user u
        LEFT JOIN user_address ua
        ON u.id = ua.user_id AND ua.is_deleted = false
        LEFT JOIN address a
        ON ua.shipping_address_id = a.id
        WHERE u.id = #{userId}
    </select>
</mapper>
